@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* FONTS */
		--font-manuka: 'Manuka', sans-serif;
		--font-manuka-condensed: 'Manuka Condensed', sans-serif;
		--font-manuka-slab: 'Manuka Slab', sans-serif;
		--font-open-sans-condensed: 'Open Sans Condensed', sans-serif;

		/* COLORS */
		--color-red: 237, 27, 47;
		--color-beige: 255, 251, 231;
		--color-black: 31, 31, 31;
		--color-gray: 217, 217, 217;
	}

	::selection {
		background-color: rgb(var(--color-red));
		color: rgb(var(--color-beige));
	}

	html {
		background-color: rgb(var(--color-beige));
		font-family: var(--font-open-sans-condensed);
		color: rgb(var(--color-black));
		font-size: clamp(12.8px, 1.25vw, 1.375rem);
		font-weight: 600;
	}

	/* —————————————— FONTS —————————————— */
	/* OPEN SANS CONDENSED 
		300 for Light,
		400 for Regular,
		500 for Medium,
		600 for SemiBold,
		700 for Bold,
		800 for ExtraBold.
	*/
	@font-face {
		font-family: 'Open Sans Condensed';
		src: url('/static/fonts/Open Sans Condensed Light.woff2') format('woff2'),
			url('/static/fonts/Open Sans Condensed Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-stretch: condensed;
		unicode-range: U+0020-02DC;
	}

	@font-face {
		font-family: 'Open Sans Condensed';
		src: url('/static/fonts/Open Sans Condensed Regular.woff2') format('woff2'),
			url('/static/fonts/Open Sans Condensed Regular.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-stretch: condensed;
		unicode-range: U+0020-02DC;
	}

	@font-face {
		font-family: 'Open Sans Condensed';
		src: url('/static/fonts/Open Sans Condensed Medium.woff2') format('woff2'),
			url('/static/fonts/Open Sans Condensed Medium.woff') format('woff');
		font-weight: 500;
		font-style: normal;
		font-stretch: condensed;
		unicode-range: U+0020-02DC;
	}

	@font-face {
		font-family: 'Open Sans Condensed';
		src: url('/static/fonts/Open Sans Condensed SemiBold.woff2') format('woff2'),
			url('/static/fonts/Open Sans Condensed SemiBold.woff') format('woff');
		font-weight: 600;
		font-style: normal;
		font-stretch: condensed;
		unicode-range: U+0020-02DC;
	}

	@font-face {
		font-family: 'Open Sans Condensed';
		src: url('/static/fonts/Open Sans Condensed Bold.woff2') format('woff2'),
			url('/static/fonts/Open Sans Condensed Bold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-stretch: condensed;
		unicode-range: U+0020-02DC;
	}

	@font-face {
		font-family: 'Open Sans Condensed';
		src: url('/static/fonts/Open Sans Condensed ExtraBold.woff2') format('woff2'),
			url('/static/fonts/Open Sans Condensed ExtraBold.woff') format('woff');
		font-weight: 800;
		font-style: normal;
		font-stretch: condensed;
		unicode-range: U+0020-02DC;
	}


	/* 
		—— MANUKA | MANUKA CONDENSED | MANUKA SLAB ——
		100 for Thin,
		300 for Light,
		400 for Regular,
		500 for Medium,
		700 for Bold,
		800 for Ultra,
		900 for Black.
	*/

	@font-face {
		font-family: 'Manuka';
		src: url('/static/fonts/Manuka Black.woff2') format('woff2'),
			url('/static/fonts/Manuka Black.woff') format('woff');
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka';
		src: url('/static/fonts/Manuka Bold.woff2') format('woff2'),
			url('/static/fonts/Manuka Bold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Condensed';
		src: url('/static/fonts/Manuka Condensed Black.woff2') format('woff2'),
			url('/static/fonts/Manuka Condensed Black.woff') format('woff');
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Condensed';
		src: url('/static/fonts/Manuka Condensed Bold.woff2') format('woff2'),
			url('/static/fonts/Manuka Condensed Bold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Condensed';
		src: url('/static/fonts/Manuka Condensed Light.woff2') format('woff2'),
			url('/static/fonts/Manuka Condensed Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Condensed';
		src: url('/static/fonts/Manuka Condensed Medium.woff2') format('woff2'),
			url('/static/fonts/Manuka Condensed Medium.woff') format('woff');
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Condensed';
		src: url('/static/fonts/Manuka Condensed Regular.woff2') format('woff2'),
			url('/static/fonts/Manuka Condensed Regular.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Condensed';
		src: url('/static/fonts/Manuka Condensed Thin.woff2') format('woff2'),
			url('/static/fonts/Manuka Condensed Thin.woff') format('woff');
		font-weight: 100;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Condensed';
		src: url('/static/fonts/Manuka Condensed Ultra.woff2') format('woff2'),
			url('/static/fonts/Manuka Condensed Ultra.woff') format('woff');
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka';
		src: url('/static/fonts/Manuka Light.woff2') format('woff2'),
			url('/static/fonts/Manuka Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka';
		src: url('/static/fonts/Manuka Medium.woff2') format('woff2'),
			url('/static/fonts/Manuka Medium.woff') format('woff');
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka';
		src: url('/static/fonts/Manuka Regular.woff2') format('woff2'),
			url('/static/fonts/Manuka Regular.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Slab';
		src: url('/static/fonts/Manuka Slab Black.woff2') format('woff2'),
			url('/static/fonts/Manuka Slab Black.woff') format('woff');
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Slab';
		src: url('/static/fonts/Manuka Slab Bold.woff2') format('woff2'),
			url('/static/fonts/Manuka Slab Bold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Slab';
		src: url('/static/fonts/Manuka Slab Light.woff2') format('woff2'),
			url('/static/fonts/Manuka Slab Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Slab';
		src: url('/static/fonts/Manuka Slab Medium.woff2') format('woff2'),
			url('/static/fonts/Manuka Slab Medium.woff') format('woff');
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Slab';
		src: url('/static/fonts/Manuka Slab Regular.woff2') format('woff2'),
			url('/static/fonts/Manuka Slab Regular.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Slab';
		src: url('/static/fonts/Manuka Slab Thin.woff2') format('woff2'),
			url('/static/fonts/Manuka Slab Thin.woff') format('woff');
		font-weight: 100;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka Slab';
		src: url('/static/fonts/Manuka Slab Ultra.woff2') format('woff2'),
			url('/static/fonts/Manuka Slab Ultra.woff') format('woff');
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka';
		src: url('/static/fonts/Manuka Thin.woff2') format('woff2'),
			url('/static/fonts/Manuka Thin.woff') format('woff');
		font-weight: 100;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}

	@font-face {
		font-family: 'Manuka';
		src: url('/static/fonts/Manuka Ultra.woff2') format('woff2'),
			url('/static/fonts/Manuka Ultra.woff') format('woff');
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-007A;
	}
}

.mw {
	max-width: 80rem;
	margin-left: auto;
	margin-right: auto;
}

.card-after {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		transform: translate(0.5rem, 0.5rem);
		z-index: -1;
	}

	&.bg-red::after {
		background-color: rgb(var(--color-beige));
	}

	&.bg-beige::after {
		background-color: rgb(var(--color-red));
	}
}

.card-after-hover {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		background-color: rgb(var(--color-red));
		z-index: -1;
		transition: transform 0.2s ease-in-out;
	}

	&:hover::after {
		transform: translate(0.5rem, 0.5rem);
	}
}

.title {

	&::after {
		content: attr(data-title);
		position: absolute;
		top: 3.5px;
		left: 3.5px;
		z-index: 0;
		width: 100%;

	}

	&.red::after {
		color: rgb(var(--color-red));
	}

	&.beige::after {
		color: rgb(var(--color-beige));
	}
}

.placeholder-opacity-50::placeholder {
	opacity: 0.5;
}

.placeholder-text-red::placeholder {
	color: rgb(var(--color-red));
}

.placeholder-text-beige::placeholder {
	color: rgb(var(--color-beige));
}

.hide-scrollbar {
	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
  	}
  
  	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}